/* ==========================================================================
   Body
   ========================================================================== */

body {
	-webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  -webkit-text-size-adjust: 100%;
  background: darken($color__background-body, 1.5%);
}

/* ==========================================================================
   Links
   ========================================================================== */

a {
	text-decoration: none;
  @include transition-duration(.3s);
}

a:hover {
  text-decoration: underline;
}

/* ==========================================================================
   Blockquotes
   ========================================================================== */

blockquote, q {
  margin: 0 auto;
  font-weight: 300;
  font-style: italic;
  padding: 10px 20px;
  border-left: 2px solid $color__text-main;

  p {
    margin-bottom: 1em;
  }
}
