$font__main: 'Merriweather', Georgia, serif;
$font__title: 'Lato', Arial, sans-serif;

$color__background-body: #fff;
$color__background-screen: #f1f1f1;
$color__background-hr: #ccc;
$color__background-button: #f55446;
$color__background-pre: #eee;
$color__background-ins: #fff9c0;

$color__text-screen: #21759b;
$color__text-input: lighten(#3a3a3a, 20%);
$color__text-input-focus: #3a3a3a;
$color__link: #f55446;
$color__link-visited: #f55446;
$color__link-hover: #f55446;
$color__text-main: #3a3a3a;

$color__border-button: #ccc #ccc #bbb;
$color__border-button-hover: #ccc #bbb #aaa;
$color__border-button-focus: #aaa #bbb #bbb;
$color__border-input: lighten(#3a3a3a, 50%);
$color__border-abbr: #666;

$color__box-shadow: darken(#3a3a3a, 2%);

$color__alert: #0AABB9;
