/* ==========================================================================
   Gallery
   ========================================================================== */

.gallery-caption {
  font-size: 0.85em;
  color: lighten($color__text-main, 15%);
  font-style: italic;
  padding-top: 10px;
}